/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/11/2016, 11:12:23
    Author     : Francke
*/

.botaoErro{
    position: relative;
    float: right;
    width: auto;
    margin-right: -25px;
    margin-top: 27px; 
    height: auto;  
}

.botaoErroPesquisa{
    position: relative;
    float: right;
    width: auto;
    margin-right: -25px;
    margin-top: 24px; 
    height: auto;  
}

.validaClienteRetirada{
    position: relative;
    width: 40%;
    margin-left: 230px;
    height: 180px;
    border-radius: 20px;
    background: #ff9f8d; 
    padding: 45px 45px;
    font-family: verdana;
    font-size: 16px;
    text-align: center;
    margin-top: -20px;  
    box-shadow: 3px 3px 6px threeddarkshadow;
}

.validaClienteRetirada1{
    position: relative;
    width: 105%;
    margin-left: -67px;
    height: 180px;
    border-radius: 20px;
    background: #ff9f8d; 
    padding: 45px 45px;
    font-family: verdana;
    font-size: 16px;
    text-align: center;
    margin-top: -20px;  
    box-shadow: 3px 3px 6px threeddarkshadow;
}

.tituloErroCliente{
    position: relative;
    width: 20%;
    margin-left: 26%;
    height: 9%;
    border-radius: 10px;
    background: #ff9999; 
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 13px;   
    z-index: 10;
    box-shadow: 2px 2px 3px threeddarkshadow;
}

.tituloErroPesquisa{
    position: relative;
    width: 37%;
    margin-left: -40px;
    height: 9%;
    border-radius: 10px;
    background: #ff9999; 
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;   
    z-index: 10;
    box-shadow: 2px 2px 3px threeddarkshadow;
}

.confirmacaoFundoPesquisa{
    position: relative;
    width: 100%;
    margin-left: 4%;
    height: 370px;
    padding: 34px 40px;
    font-family: verdana;
    font-size: 14px;
    font-weight: normal;
    margin-top: -40px; 
    background: url(../imagens/confirmaPesquisa.jpg) no-repeat; 
}

.acessoRelatoriosMenuAdmin{
    position: relative;
    float: left;
    margin-top: -10px;
    margin-right: 40px;
    width: 20%; 
    height: 240px;
    text-align: center;
    padding-top: 4%;
}
